{% extends "app/theme/main.html" %}

{% block content %}
  <div class="m-auto pt-5 content-text">
    <div class="col-lg-10 m-auto">
      {% if error_message %}
        <div class="alert alert-danger">
          {{ error_message }}
        </div>
      {% endif %}
      <h1>Alerts</h1>
      <table class="table table-hover" id="tbl_list">
        <tbody>
        {% if titles %}
          <thead>
          <tr>
            <th scope="col">Buyer</th>
            <th scope="col">Buyer conveyancer</th>
            <th scope="col">Status</th>
          </tr>
          </thead>
          {% for title in titles %}
            {% set status = title['states']['payment']%}
            <tr>
              <td scope="row">{{ title['sales_agreement']['buyer']['first_name']}}
                {{ title['sales_agreement']['buyer']['last_name']}}
              </td>
              <td scope="row">
                {{ title['sales_agreement']['buyer_conveyancer']['organisation']}}
              </td>
              <td>
                {% if status['state_status'] == 'confirm_payment_received_in_escrow' %}
                  Funds received
                {% elif status['state_status'] == 'request_for_payment' %}
                  <a href="{{ url_for('payment_admin.funds_received',title_number=title['title_number']) }}">
                    Confirm receipt of funds
                  </a>
                {% elif status['state_status'] == 'issued' %}
                  Funds pending
                {% elif status['state_status'] == 'confirm_funds_released' %}
                  Title transfer complete
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td>No records to display</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
